<div id="<%= dom_id tweet %>">
  <p>
    <strong>Description:</strong>
    <%= tweet.description %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= tweet.username %>
  </p>
  <div class="card">
    <h5 class="card-header">Featured</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Editar</a>
      <a href="#" class="btn btn-primary">Eliminar</a>
    </div>
  </div>
</div>
