<div id="<%= dom_id tweet %>">

    <div class="card">
      <div class="card-header"> Usuario: 
      <%= tweet.username %>
      </div>
      <div class="card-body">
        <p class="card-title"">Descripción: 
        <%= tweet.description %>
        </p>       
      </div>
    </div>
</div>
