<div id="<%= dom_id tweet %>">

    <div class="card">
      <div class="card-header"> 
      <h6>Usuario: <%= tweet.username %><h6> 
      
      </div>
      <div class="card-body">
        <p class="card-title"">Descripción: 
        <%= tweet.description %>  <a>Id: <%= tweet.id %>  <a> 
        </p>       
      </div>
    </div>
</div>
